<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name></display-name>
    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>com.wp.servlet.demo1.AServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BServlet</servlet-name>
        <servlet-class>com.wp.servlet.demo2.BServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CServlet</servlet-name>
        <servlet-class>com.wp.servlet.demo3.CServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DServlet</servlet-name>
        <servlet-class>com.wp.servlet.demo4.DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EServlet</servlet-name>
        <servlet-class>com.wp.servlet.demo5.EServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FServlet</servlet-name>
        <servlet-class>com.wp.servlet.demo6.FServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GServlet</servlet-name>
        <servlet-class>com.wp.servlet.demo7.GServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BServlet</servlet-name>
        <url-pattern>/BServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlet</servlet-name>
        <url-pattern>/CServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DServlet</servlet-name>
        <url-pattern>/DServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EServlet</servlet-name>
        <url-pattern>/EServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FServlet</servlet-name>
        <url-pattern>/FServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GServlet</servlet-name>
        <url-pattern>/GServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>com.wp.servlet.filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
